* {
    box-sizing: border-box;
}

html {
    background: url(https://wallpapers.com/images/high/futuristic-project-management-inbiirodqxwccs7h.webp) no-repeat center fixed;
    background-size: cover;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
}

main {
    background: white;
    padding: 30px;
    border-radius: 10px;
    opacity: 0.75;
    max-width: 75%;
    max-height: 800px;
    overflow: auto;
}

.links {
    text-decoration: none;
    color: black;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 0px;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 22px;
    font-style: oblique;
    color: white;
    font-weight: 500;
    padding-left: 10px;
    text-shadow: 3px 3px 10px #011126;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
    font-size: 20px;
    text-decoration: underline;
}

table {
    border-collapse: separate;
    border-spacing: 10px 0;
}

td {
    padding: 10px 0;
}

.toplink {
    color: white;
    padding: 14px 16px 16px 16px;
    text-decoration: none;
    font-size: 17px;
}

.toplink:hover {
    color: white;
    font-size: 20px;
    text-decoration: underline;

}
