{% load static %}

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/static.css' %}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker</title>
</head>

<body>
    <header class="header">
        <p class="logo">Crying Alone</p>
        <nav>
            <div class="topnav">
                {% if user.is_authenticated %}
                <a href="{% url 'show_my_tasks' %}" class="toplink">My tasks</a>
                <a href="{% url 'list_projects' %}" class="toplink">My projects</a>
                <a href="{% url 'logout' %}" class="toplink">Logout</a>
                {% else %}
                <a href="{% url 'login' %}" class="toplink">Login</a>
                <a href="{% url 'signup' %}" class="toplink">Signup</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <br><br><br>
    {% block content %}
    {% endblock content %}
</body>

</html>
