{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
        {% if tasks|length == 0 %}
        <p>You have no tasks</p>
        {% else %}
        <form action="" class="search"> <input type="text" name="search" placeholder="Search Tasks"> <input
                type="submit" value="Search"> </form>
        <br>
        <table>
            <thead>
                <th>Name</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td><a href="{% url 'task_update' task.id %}">{{ task.name }}</a></td>
                    <td>{{ task.start_date|date:"d M Y" }} {{ task.due_date|time:"H:i" }}</td>
                    <td>{{ task.due_date|date:"d M Y" }} {{ task.due_date|time:"H:i" }}</td>
                    <td>{{ task.is_completed|yesno:"Yes,No" }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</main>
{% endblock content %}
