{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>{{ show_project.name }}</h1>
        <p>{{ show_project.description }}</p>
        <h2>Tasks</h2>
        <a href="{% url 'create_task' %}">Create a new task</a>
        <br><br>
        {% if show_project.tasks.all|length == 0 %}
        <p>This project has no tasks</p>
        {% else %}
        <table>
            <thead>
                <th>Name</th>
                <th>Assignee</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </thead>
            <tbody>
                {% for task in show_project.tasks.all %}
                <tr>
                    <td><a href="{% url 'task_update' task.id %}">{{ task.name }}</a></td>
                    <td>{{ task.assignee }}</td>
                    <td>{{ task.start_date|date:"d M Y" }} {{ task.due_date|time:"H:i" }}</td>
                    <td>{{ task.due_date|date:"d M Y" }} {{ task.due_date|time:"H:i" }}</td>
                    <td>{{ task.is_completed|yesno:"Yes,No" }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</main>
{% endblock content %}
