{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>My Projects</h1>
        <form action="" class="search"> <input type="text" name="search" placeholder="Search Projects"> <input
                type="submit" value="Search"> </form>
        <p>
            <a href="{% url 'create_project' %}">Create a new project</a>
        </p>
        {% if project|length == 0 %}
        <p>You are not assigned to any projects</p>
        {% else %}
        <table>
            <thead>
                <th>Name</th>
                <th>Number of tasks</th>
            </thead>
            <tbody>
                {% for project in project %}
                <tr>
                    <td>
                        <a href="{% url 'show_project' project.id %}">{{ project.name }}
                    </td>
                    <td>{{ project.tasks.all|length }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</main>
{% endblock content %}
